
# Compiled source #
###################
*.pyc

# Folders #
###################
project/__pycache__
project/models/__pycache__
project/static/uploads
venv

# Files #
###################
project/config.py
project/common.py
start.py