<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About devSeater</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename='css/intro.css')}}">
  </script>
</head>
<body>
  <div class="main_frame">
  <header>
    <div id = "logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo" height="110px">
    </div>
    <div id="links">
      <a href="/contact">Contact</a>
      <a href="/">Sign Up</a>
      <a href="/login">Login</a>
    </div>
  </header>
    <div class="container">
      <div>
        <h1>About devSeater</h1>
        <p>
            This project was thought due to a need: Improving programming skills using them on
            real life projects. The projects that is made for exercising not really motivates developers
            mostly. A developer may need to be working on projects he/she really believes to be
            motivated. But creating innovative ideas to work on cannot be found easily always. For this
            reason, the developer can wait until he/she found a new idea that can motivate him/her, and it
            may be late to improve the skills he/she owned.
        </p>
        <p>
            With this project, it is intended to bring people who have close vision and similar skill
            sets together. This is a platform which has some basic social networking features such as
            posting, following, messaging, commenting and liking. For gathering people around a
            particular project, the platform has a characteristic solution. Users in the platform can create
            project pages and also create placeholders called “seater” that represents an imaginary person
            who has a skill set and features. The creator of a project page is the manager of the project
            and have full authority over the project. Other users can aspire “seaters” on project pages, and
            managers decide whether or not to assign them.
        </p>
      </div>
      <footer align = "center"> © All Rights Reserved. devSeater 2019</footer>
    </div>
  </div>
</body>
</html>