<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} - devSeater
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">  
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body> 

      {% include "includes/navbar.html" %}

      {% block body %}{% endblock %}

      
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <div id="content"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
  <script src="{{url_for('static', filename='js/showdown-prettify.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="{{url_for('static', filename='js/session.js')}}"></script>
  <script src="{{url_for('static', filename='js/request.js')}}"></script>
  <script src="{{url_for('static', filename='js/devSeater.js')}}"></script>
  <script src="{{url_for('static', filename='js/ui.js')}}"></script>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>
</html>