{% extends "layout.html" %}

{% block title %}{{project.project_name}}{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/projectPosts.js')}}"></script>
    <script src="{{url_for('static', filename='js/projectPage.js')}}"></script>
{% endblock %}

{% block body %}
  <main class="container">
        <div class="row" id="profile-header-cols" >
                <div class="col-lg-4 text-center">
                  <div id="project-profile-card" pid="{{project.pid}}">
                      {% if project.photo != None %}
                        <img class="project-img" src="{{url_for('static', filename='uploads/projects/pp/' + project.photo)}}" alt=""><br>
                      {% else %}
                        <img class="project-img" src="{{url_for('static', filename='img/empty-project.png')}}" alt=""><br>
                      {% endif %}
                           
                      <h1>{{project.project_name}}</h1>
                      <span class="text-muted">@{{project.project_name}}</span><br>
                      <span>
                          {% if project.short_description != None %}
                                  {{project.short_description}}
                          {% endif %}
                      </span>
                  </div>
      
                </div>
      
                <div class="col-lg-4">
                  <div>
                      <h1 class="text-muted">Links</h1>
                      <span class="link-list">
                          {% if not projectLinks %}
                            <span>This project has no links.</span>
                          {% else %}
                            {% for link in projectLinks %}
                                <a target="_blank" href="{{link.link}}">{{link.name}}</a>
                            {% endfor %}
                          {% endif %}
                        </span> 
                  </div>
                </div>
                <div class="col-lg-4 text-center" >
                  <div>
                    <h1 class="text-muted">Team</h1>
                    <a class="info-1" href="#" id="members-link">{{numberOfMembers}} member(s)</a>
                    <a class="info-2" href="#" id="empty-seaters">{{numberOfEmptySeaters}} empty seater(s)</a>
                  </div>
      
                </div>
              </div>
      
              <div class="row" id="profile-body-cols">

                <div class="col-lg-8">
                  <div class="mb-3 bg-light" style="padding: 0;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-secondary" id="posts-button">Posts</button>
                      <button type="button" class="btn btn-outline-secondary" id="seaters-button">Seaters</button>
                      <button type="button" class="btn btn-outline-secondary" id="members-button">Members</button>
                      <button type="button" class="btn btn-outline-secondary" id="about-button">About</button>
                    </div>
                  </div>

                <div class="post-textarea-card" style="display: none;">
                    <textarea  id="post-textarea" width="100%" placeholder="Write something..."></textarea>
                    <button id="post-button" class=" btn btn-light">Post</button>
                </div>

                  <div class="content-area">
                        {% for post in lastProjectPosts %}
                        <div class="post" ppid="{{post.ppid}}">
                            <div class="post-header mb-2">
                                <a href="/u/{{post.username}}">
                                    {% if post.photo == None %}
                                        <span ><img width="55px" class="rounded-circle" src="{{url_for('static', filename= 'img/empty-profile.png') }}" alt=""></span>
                                    {% else %}
                                        <span ><img width="55px" class="rounded-circle" src="{{url_for('static', filename= 'uploads/users/up/' + post.photo ) }}" alt=""></span>
                                    {% endif %}
                                    
                                </a> 
                                <span>
                                    <a href="/u/{{post.username}}">
                                        <h4>{{post.full_name}}</h4>
                                        <span style="font-size:13px" class="text-muted">@{{post.username}}</span>
                                    </a>
                                    <p class="time">{{post.time}}</p>
                                </span>
                                <span class="float-right">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-basic" data-toggle="dropdown"><b>...</b></button>
                                        <ul class="dropdown-menu">
                                            {% if session.uid == post.uid %}
                                                <li><a class="dropdown-item delete-post">Delete</a></li>
                                                <li><a class="dropdown-item edit-post">Edit</a></li>
                                            {% endif %}
                                            
                                        </ul>
                                    </div>
                                </span>
                            </div>
            
                            <div class="post-body mb-2">
                            <p>{{post.post}}</p>
                            </div>
            
                            <div class="post-footer">
                            <hr>
                            <span class="row container post-footer-links mb-2">
                                <a href="#" class="like-number" href="">
                                    {% if post.likeNumber == 1 %}
                                        1 like
                                    {% elif post.likeNumber > 1 %}
                                        {{post.likeNumber}} likes
                                    {% endif %}
                                    
                                </a>
                                <a href="#" class="comment-number ml-3">
                                    {% if post.commentNumber == 1 %}
                                        1 comment
                                    {% elif post.commentNumber > 1 %}
                                        {{post.commentNumber}} comments
                                    {% endif %}
                                </a>
                            </span>
                            
                            {% if post.isLiked %}
                                <button class="btn btn-post mr-2 like-button liked">Liked</button>
                            {% else %}
                                <button class="btn btn-post mr-2 like-button">Like</button>
                            {% endif %}
                               
                            <button class="btn btn-post mr-2 comment-button">Comment</button>
                            <button class="btn btn-post mr-2">Share</button>
                            </div>
                            
                            <div style="display: none;" class="comment-box mt-2">
                                <form class="row container comment-form">
                                    <textarea class="form-control col-sm-10" rows="1" placeholder="Add a comment..."></textarea>
                                    <input class="col-sm-2 btn btn-secondary container" type="submit" value="Send">
                                </form>
                                <button  class="btn btn-link load-comments">Load previous comments...</button>
                                
                                <div class="comments container">
                                    
                                </div>
            
                            </div>
            
                        </div>
                    {% endfor %}
            

                  </div>
                </div>
      
              <div class="col-lg-4 d-none d-lg-block right-area">
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h2>Who to Follow</h2></li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3"><img class="rounded-circle" src="img/0.jpeg" width="50px" alt=""></div>
                                        <div class="col-9">
                                          <a href="#">Metin Orak</a>
                                          <br>
                                          <button class="btn btn-light">Follow</button>
                                          
                                        </div>  
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3"><img class="rounded-circle" src="img/0.jpeg" width="50px" alt=""></div>
                                        <div class="col-9">
                                          <a href="#">Metin Orak</a>
                                          <br>
                                          <button class="btn btn-light">Follow</button>
                                          
                                        </div>  
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3"><img class="rounded-circle" src="img/0.jpeg" width="50px" alt=""></div>
                                        <div class="col-9">
                                          <a href="#">Metin Orak</a>
                                          <br>
                                          <button class="btn btn-light">Follow</button>
                                          
                                        </div>  
                                    </div>
                                </li>
                              </ul>  
                        </div>
     
                        
                  <div>
                      <ul class="list-group list-group-flush">
                          
                          <li class="list-group-item"><h2>Popular Projects</h2></li>
                          <li class="list-group-item">
                              <div class="card">
                                  <img class="card-img-top" src="img/project1.jpg" alt="Card image">
                                  <div class="card-body">
                                    <h3 class="card-title"><a href="#">Project1</a></h3>
                                    <p class="card-text">Some example text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dolore.</p>
                                  </div>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="card">
                                  <img class="card-img-top" src="img/project1.jpg" alt="Card image">
                                  <div class="card-body">
                                    <h3 class="card-title"><a href="#">Project1</a></h3>
                                    <p class="card-text">Some example text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dolore.</p>
                                  </div>
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="card">
                                  <img class="card-img-top" src="img/project1.jpg" alt="Card image">
                                  <div class="card-body">
                                    <h3 class="card-title"><a href="#">Project1</a></h3>
                                    <p class="card-text">Some example text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dolore.</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
      
    </main>

  {% endblock %}
  
      