{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block scripts %}

{% endblock %}

{% block body %}
  <main class="container">
    <div class="card">
        <div class="card-header">
          <a href="#">back to the project name</a>
        </div>
        <div class="card-body">
          <h1 class="card-title">Title</h1>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>

{% endblock %}