{% extends "layout.html" %}

{% block title %}Settings{% endblock %}

{% block scripts %}
  <script src="{{url_for('static', filename='js/userSettings.js')}}"></script>
{% endblock %}


{% block body %}
<main class="container">

    <div class="card">
        <div class="card-header">
          Account Settings
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="settingsTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="username-tab" data-toggle="tab" href="#username" role="tab" aria-controls="username" aria-selected="true">Username</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Email</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="contact" aria-selected="false">Password</a>
              </li>
            </ul>
            <div class="tab-content pt-3" id="myTabContent">
              <div class="tab-pane fade show active" id="username" role="tabpanel" aria-labelledby="username-tab">
                <form id="update-username">
                  <h2 class="card-title">Change your username</h2>
                  <label>Username:</label>
                  <input autocomplete="off" type="text" class="form-control" id="inlineFormInputGroup" name="username" value="{{currentUser.username}}">
                  <label>Password:</label>
                  <input type="password" name="password" class="form-control">
                  <input type="submit" class="mt-2 btn btn-primary" value="Update username">
                </form>
              </div>
              <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                <form id="update-email">
                  <h2 class="card-title">Change your email</h2>
                  <label>Email:</label>
                  <input autocomplete="off" type="email" name="email" class="form-control" value="{{currentUser.email}}">
                  <label>Password:</label>
                  <input type="password" name="password" class="form-control">
                  <input type="submit" class="mt-2 btn btn-primary" value="Update email">
                </form>
              </div>
              <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                <form id="update-password">
                  <h2 class="card-title">Change your password</h2>
                  <label>Current password:</label>
                  <input type="password" name="current-password" class="form-control">
                  <label>New password:</label>
                  <input type="password" name="new-password" class="form-control">
                  <label>Confirm new password:</label>
                  <input type="password" name="confirm-new-password" class="form-control">
                  <input type="submit" class="mt-2 btn btn-primary" value="Update password">     
                </form>           
              </div>
            </div>
        </div>
      </div>
</main>

{% endblock %}


