<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact - devSeater</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename='css/intro.css')}}">
  </script>
</head>
<body>
  <div class="main_frame">
  <header>
    <div id = "logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo" height="110px">
    </div>
    <div id="links">
      <a href="/about">About Us</a>
      <a href="/">Sign Up</a>
      <a href="/login">Login</a>
    </div>
  </header>
    <div class="container">
      <div>
        <div class="card">
          <form method="post" class="contact-form">
            <h1>Contact Us</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div>
              <label for="name">Name</label>
              <input type="text" name="name" required>
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="email" required>
            </div>
            <div>
              <label for="subject">Subject</label>
              <input type="text" name="subject" required>
            </div>
            <div>
              <label for="name">Message:</label>
              <textarea name="message" rows="10" required></textarea>
            </div>
            <div>
              <input type="submit" value="Send">
            </div>
          </form>
        </div>
      </div>
      <footer align = "center"> © All Rights Reserved. devSeater 2018</footer>
    </div>
  </div>
</body>
</html>