<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>devSeater - social network for software developers</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename='css/intro.css')}}">

</head>
  <body>
    <div class="main_frame">
    <header>
      <div id = "logo">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo" height="110px">
      </div>
      <div id="links">
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/login">Log In</a>
      </div>
    </header>
      <div class="container">
        <div>
          <div class="intro-content">
            <div>
                <h2>devseater is a social network for developers.</h2>
                <span class="mobile_hidden" id = "typed"></span>
            </div>
            <div class="signup-form">
              <h1>Sign up now!</h1>
                <form action="" method="post">
                  {% if form == undefined %}
                    <label for="name">Name: </label><br>
                    <input type="text" name = "name" required><br>

                    <label for="username">Username: </label><br>
                    <input type="text" name = "username" required><br>

                    <label for="email">Email: </label><br>
                    <input type="email" name = "email" autocomplete="off" required><br>

                    <label for="password">Password:</label><br>
                    <input type="password" name = "password" autocomplete="off" required><br><br>

                    <input type="checkbox" name="terms" required>
                     I agree to the <a href="/terms-and-conditions" target="_blank">devSeater terms and conditions</a>
                  {% else %}
                    <label for="name">Name: </label><br>
                    <input type="text" name = "name" value="{{form.get('name')}}" required><br>
                    <p class="alert">{{errorMessages.name}}</p>

                    <label for="username">Username: </label><br>
                    <input type="text" name = "username" value="{{form.get('username')}}" required><br>
                    <p class="alert">{{errorMessages.username}}</p>

                    <label for="email">Email: </label><br>
                    <input type="email" name = "email" value="{{form.get('email')}}" required><br>
                    <p class="alert">{{errorMessages.email}}</p>

                    <label for="password">Password:</label><br>
                    <input type="password" name = "password" value="{{form.get('password')}}" required>
                    <p class="alert">{{errorMessages.password}}</p>

                    <input type="checkbox" name="terms" required>
                    I agree to the <a href="/terms-and-conditions" target="_blank">devSeater terms and conditions</a>
                    <p class="alert">{{errorMessages.terms}}</p>
                  {% endif %}
                  

                  <input type="submit" value="Sign up"><br><br>
                </form>
                <a href="/login">Already have an account?</a>
            </div>
          </div>
        </div>
        <footer align = "center"> © All Rights Reserved. devSeater 2019</footer>
      </div>
    </div>
    <script src = "{{url_for('static', filename='js/typed.js')}}"></script>
    <script src = "{{url_for('static', filename='js/intro.js')}}"></script>

  </body>
</html>