<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Password Reset - devSeater</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename='css/intro.css')}}">
  </script>
</head>
<body>
  <div class="main_frame">
  <header>
    <div id = "logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo" height="110px">
    </div>
    <div id="links">
      <a href="/about">About Us</a>
      <a href="/contact">Contact</a>
      <a href="/login">Login</a>
    </div>
  </header>
    <div class="container">
      <div>
        <div class="login-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          <div class="login-form">
            
            {% if hashCode != None and email  != None %}
              <h1>Specify new password</h1>
              <form action="" method="post">
                <label for="password">Enter your new password: </label><br>
                <input type="password" name = "password"><br>

                <label for="confirm-password">Confirm your new password: </label><br>
                <input type="password" name = "confirm-password"><br><br>
                
                <input type="hidden" name="hash" value="{{hashCode}}">
                <input type="hidden" name="email" value="{{email}}">

                <input type="submit" value="Reset Password">
              </form>
            {% else %}
              <h1>I don't remember my password</h1>
              <form action="" method="post">
                <label for="email">Please enter your email address to reset your password: </label><br>
                <input type="email" name = "email"><br><br>
                <input type="submit" value="Send Password Reset Link">
              </form>
            {% endif %}
            

          </div>
        </div>
      </div>
      <footer align = "center"> © All Rights Reserved. devSeater 2019</footer>
    </div>
  </div>
</body>
</html>