<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


<body>

  <h2>Hi member!</h2>

  <p>
    Using this link you can reset your password:
  </p>
  <a href="{{SITE_ADDR}}/password-reset?email={{email}}&hash={{hashCode}}">Click here to reset your password</a>
      
  <p>
    If you have not made such a request, please ignore this email.

    <br><br>
    devSeater
  </p>
      
</body>
</html>